html,
body,
.app {
  height: 100vh;
  background: #eee;
  padding: 1em;
}

.sidepannel{
  background: #4c3c4c;
  font-size: 1.2rem;
}
.usergrid{
  background: #4c3c4c;
}

.usergrid_row{
  background: #4c3c4c;
  padding: 1.2em;
  margin: 0;
}
